button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}


:root {
    --swiper-navigation-size: 110px;

    --z-header: 3;
    --z-main: 1;
    --z-footer: 2;
    --z-modal_attention: 5;
    --z-modal_send: 4;
    --z-modal_hidden: -1;
}



body{
    background-color: #231815;
    font-family: 'Noto Sans JP', "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, sans-serif;
}



#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    padding: 25px 4vw;
    background-color: #ffffff;
    z-index: var(--z-header);
}

    #logo{

    }

    #logoImg{
        width: auto;
        height: 70px;
    }




#modal_attention{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #231815a0;
    opacity: 1;
    z-index: var(--z-modal_attention);
}
#modal_attention.hidden{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #231815a0;
    opacity: 0;
    z-index: var(--z-modal_hidden);
    transition: 0.5s;
    transition-delay: z-index 0.6s;
}
    #window_attention{
        position: absolute;
        margin:auto;
        padding: 70px 30px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -65%);
        width: 85vw;
        background-color: #ffffff;
        border-radius: 20px
    }
    #attention {
        display: inline-block;
        margin-bottom: 0.3em;
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 4em;
    }
    #window_attention ul{
        margin-bottom: 4em;
    }
    #window_attention li{
        list-style:  none;
        font-size: 2.2em;
        margin-bottom: 0.8em;
    }
    #window_attention li:before{
        content: "";
        display: inline-block;
        position: relative;
        margin-right: -10px;
        top: -7px;
        left: -25px;
        width: 13px;
        height: 13px;
        border-radius: 35%;
        background-color: #231815;
    }
    #startBtn{
        display: flex;
        margin: auto;
        padding: 18px 70px 17px 65px;
        font-size: 2.5em;
        font-weight: bold;
        border: #000000 solid 7px;
    }#startBtn img{
        margin: 8px 20px 0px 0px;
        width: 1em;
    }






#modal_send{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #231815e0;
    opacity: 1;
    transition: 1.0s;
    transition-delay: z-index 0.6s;
    z-index: var(--z-modal_send);
}
#modal_send.hidden{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #231815d0;
    opacity: 0;
    z-index: var(--z-modal_hidden);
}
    #contents_send{
        position: absolute;
        margin:auto;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80vw;
        height: 60vh;
    }
        .sendArw{
            margin:auto;
            margin-bottom: 7%;
            width: 50%;
            height: 50%;
        }
        #sendMsg{
            display: inline-block;
            width: 100%;
            text-align: center;
            font-size: 5em;
            color: #ffffff;
            font-weight: bold;
        }





#main{
    position: relative;
    width: 100%;
    margin-top: 120px;
    margin-bottom: 50px;
    z-index: var(--z-main);
}

    #select_works{
        margin: 0;
        width: 100%;
        height: 1300px;
        background-color: #555555;
    }

        .swiper-container{
            width: 100%;
            height: 100%;
            padding: 5% 0% 10% 0%;
        }

        .swiper-wrapper{
        }

        .swiper-button-prev, .swiper-button-next{
            outline: none;
        }

        .swiper-pagination{
        }

        .swiper-container-horizontal>.swiper-pagination-bullets{
            bottom: 30px;
        }

        .swiper-pagination-bullet{
            opacity: 1;
            width: 22px;
            height: 22px;
            background-color: #231815;
        }

        .swiper-pagination-bullet-active{
            background-color: #ffffff;
        }

        .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
            margin: 0 10px;
        }

        .swp_img{
            margin: auto;
            height: 100%;
            width: auto;
            border: 20px solid #231815;
            box-sizing: border-box;
        }

        .swp_arw{
            height: 100%;
            width: auto;
            fill: #ffffff;
            outline : none;
        }
            #arw_prev{
                transform: scale(-1,1);
            }
            #arw_next{
            }



    #input_message{
        margin: 0;
        padding: 5% 0;
        width: 100%;
        background-color: #e9e9e9;
    }
    
        #inputbox{
            margin-bottom: 30px;
            padding: 0 7%;
            width: 100%;
            height: 65%;
        }
            #uiMessage{
                text-align: center;
                font-size: 45px;
                width: 100%;
                margin-bottom: 10px;
                background-color: #ffffff;
                border: 1px solid #1b2538;
                border-radius: 4px;
                outline: none;
            }


        #btnbox{
            width: 100%;
        }
            #uiSendBtn{
                display: flex;
                margin: auto;
                padding: 12px 70px 9px 65px;
                background-color: #ffffff;
                font-size: 2.5em;
                font-weight: bold;
                border: #000000 solid 7px;
            }#uiSendBtn img{
                margin: 8px 20px 0px 0px;
                width: 1em;
            }



footer{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    padding: 20px 4vw;
    background-color: #231815;
    z-index: var(--z-footer);
}
    #copyright{
        margin-top: 3em;
        font-size: 1.5em;
        color: #ffffff;
        text-align: center;
    }